[submodule "thirdparty/Hierarchical-Localization"]
	path = thirdparty/Hierarchical-Localization
	url = git@github.com:13145497683/Hierarchical-Localization.git
[submodule "diff-surfel-rasterization"]
	path = diff-surfel-rasterization
	url = git@github.com:13145497683/diff-surfel-rasterization.git
