[submodule "thirdparty/Hierarchical-Localization"]
	path = thirdparty/Hierarchical-Localization
	url = git@github.com:13145497683/Hierarchical-Localization.git
[submodule "thirdparty/diff-surfel-rasterization"]
	url = git@github.com:hbb1/diff-surfel-rasterization.git
